:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --highlight: #646cff;
}

body {
  padding: 2em;
}

a {
  font-weight: 500;
  color: var(--highlight);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select,
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button {
  max-width: 6em;
}
select {
  max-width: 8em;
}
input {
  max-width: 80px;
}
button:hover {
  border-color: var(--highlight);
}
button:focus,
button:focus-visible,
select:focus,
select:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto var(--highlight);
}
.flex-col,
.flex-row,
.filter,
.animation-filters,
.animation-filter,
.animation-filter-radio,
.animation-area {
  display: flex;
  gap: 2em;
}
.flex-col,
.animation-filter,
.animation-filter-radio {
  flex-direction: column;
}
.flex-wrap,
.animation-filters {
  flex-wrap: wrap;
}
.animation-filters {
  width: calc(100% - 4em);
  justify-content: flex-start;
}
.filter,
.animation-filter {
  gap: 1em;
}
.animation-filter {
  width: 12em;
}
.filter {
  align-items: center;
}
.filter > label {
  font-weight: 500;
}
main {
  flex-direction: column;
}
.animation-section {
  width: 100%;
}
.code-section {
  background-color: #1f1f1f;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #61dafb;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.animation-area {
  justify-content: center;
  align-items: center;
  width: 501px;
  height: 501px;
  background-color: #1f1f1f;
  margin: 0 auto;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  position: relative;
}
.animation-area ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}
.animation-area ul li {
  position: absolute;
  padding: 0;
  width: 2em;
}
.animation-area-x-axis {
  bottom: -1em;
  width: 100%;
}
.animation-area-y-axis {
  left: -3em;
  height: 100%;
  text-align: right;
}
.animation-area-x-axis li:nth-of-type(1) {
  left: -20px;
}
.animation-area-x-axis li:nth-of-type(2) {
  left: 30px;
}
.animation-area-x-axis li:nth-of-type(3) {
  left: 80px;
}
.animation-area-x-axis li:nth-of-type(4) {
  left: 130px;
}
.animation-area-x-axis li:nth-of-type(5) {
  left: 187px;
}
.animation-area-x-axis li:nth-of-type(6) {
  left: 245px;
}
.animation-area-x-axis li:nth-of-type(7) {
  left: 292px;
}
.animation-area-x-axis li:nth-of-type(8) {
  left: 337px;
}
.animation-area-x-axis li:nth-of-type(9) {
  left: 387px;
}
.animation-area-x-axis li:nth-of-type(10) {
  left: 437px;
}
.animation-area-x-axis li:nth-of-type(11) {
  left: 487px;
}
.animation-area-y-axis li:nth-of-type(1) {
  top: -12px;
}
.animation-area-y-axis li:nth-of-type(2) {
  top: 36px;
}
.animation-area-y-axis li:nth-of-type(3) {
  top: 88px;
}
.animation-area-y-axis li:nth-of-type(4) {
  top: 138px;
}
.animation-area-y-axis li:nth-of-type(5) {
  top: 186px;
}
.animation-area-y-axis li:nth-of-type(6) {
  top: 238px;
}
.animation-area-y-axis li:nth-of-type(7) {
  top: 288px;
}
.animation-area-y-axis li:nth-of-type(8) {
  top: 338px;
}
.animation-area-y-axis li:nth-of-type(9) {
  top: 388px;
}
.animation-area-y-axis li:nth-of-type(10) {
  top: 438px;
}
.animation-area-y-axis li:nth-of-type(11) {
  top: 488px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 1em;
}
@media (min-width: 1050px) {
  main {
    flex-direction: row;
  }
  main aside {
    width: 40%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
